.tabcontent{
	display: none;
	border-top: none;
	margin-top: 5px;
}

.show-info{
	text-decoration: underline;
	cursor: pointer;
}

.caption{
	background-color: #E5E5E5;
	padding: 5px;
	border-radius: 4px;
}